<div class='recipes-container'>
  <div class='top-recipes-blocks'>
    <div class='image'>
      <img src="assets/shawarma.jpg" class='img-recipe'>
    </div>
    <div class='name'>
      <strong>Шаурма</strong>
    </div>
    <div class='description'>
      <em>
          Лишь шаурма! (на углях)
          Шаурма!
          Я коснусь тебя...
          Лишь шаурма! (в Кулебаках)
          Шаурма! Снова ты и я...
          Лишь шаурма! (на углях)
          Лишь шаурма...е-эй...
      </em>
    </div>
  </div>
  <div class='top-recipes-blocks'>
    <div class='image'>
      <img src="assets/shawarma.jpg" class='img-recipe'>
    </div>
    <div class='name'>
      <strong>Шаурма</strong>
    </div>
    <div class='description'>
      <em>
          Лишь шаурма! (на углях)
          Шаурма!
          Я коснусь тебя...
          Лишь шаурма! (в Кулебаках)
          Шаурма! Снова ты и я...
          Лишь шаурма! (на углях)
          Лишь шаурма...е-эй...
      </em>
    </div>
  </div>
  <div class='top-recipes-blocks'>
    <div class='image'>
      <img src="assets/shawarma.jpg" class='img-recipe'>
    </div>
    <div class='name'>
      <strong>Шаурма</strong>
    </div>
    <div class='description'>
      <em>
          Лишь шаурма! (на углях)
          Шаурма!
          Я коснусь тебя...
          Лишь шаурма! (в Кулебаках)
          Шаурма! Снова ты и я...
          Лишь шаурма! (на углях)
          Лишь шаурма...е-эй...
      </em>
    </div>
  </div>
</div>
<div class='recipes-container'>
  <div class='top-recipes-blocks'>
    <div class='image'>
      <img src="assets/shawarma.jpg" class='img-recipe'>
    </div>
    <div class='name'>
      <strong>Шаурма</strong>
    </div>
    <div class='description'>
      <em>
          Лишь шаурма! (на углях)
          Шаурма!
          Я коснусь тебя...
          Лишь шаурма! (в Кулебаках)
          Шаурма! Снова ты и я...
          Лишь шаурма! (на углях)
          Лишь шаурма...е-эй...
      </em>
    </div>
  </div>
  <div class='top-recipes-blocks'>
    <div class='image'>
      <img src="assets/shawarma.jpg" class='img-recipe'>
    </div>
    <div class='name'>
      <strong>Шаурма</strong>
    </div>
    <div class='description'>
      <em>
          Лишь шаурма! (на углях)
          Шаурма!
          Я коснусь тебя...
          Лишь шаурма! (в Кулебаках)
          Шаурма! Снова ты и я...
          Лишь шаурма! (на углях)
          Лишь шаурма...е-эй...
      </em>
    </div>
  </div>
  <div class='top-recipes-blocks'>
    <div class='image'>
      <img src="assets/shawarma.jpg" class='img-recipe'>
    </div>
    <div class='name'>
      <strong>Шаурма</strong>
    </div>
    <div class='description'>
      <em>
          Лишь шаурма! (на углях)
          Шаурма!
          Я коснусь тебя...
          Лишь шаурма! (в Кулебаках)
          Шаурма! Снова ты и я...
          Лишь шаурма! (на углях)
          Лишь шаурма...е-эй...
      </em>
    </div>
  </div>
</div>