.category {
  display: inline-block;
  width: 150px;
}

.name-category {
	text-align: center
}


.title-category {
  margin-left: 2%;
  padding-top: 1%
}

.category-recipes {
  height: 120px;
  background: lightgray;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 30px;
}

.img-category {
	overflow: hidden;
  height: 80px;
  margin-left: 20px;
  margin-top: 10px;
}