// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin box-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

$red: #DB6161;

.img-recipe-show {
	max-width: 100%;
  border-radius: 5px;
  @include box-shadow;
}

.time-recieps {
	float: right;
  margin-right: 20px;
}

.count-portion {
	float: right;
  margin-right: 20px;
}

.rec-name {
	display: inline-block;
}

.rec-info {
	float: right;
	display: inline-block;
}

.recipe {
	padding: 30px 0 50px 0;
}

.form {
	padding: 20px;
}

.text-area-description {
	min-height: 120px;
}

#autocomplete {
	position: absolute;
  width: 250px;
  margin-top: -5px;
}

#recipe_top {
  margin-bottom: 50px;
}

#steps, #ingredients {
  background: white;
  @include box-shadow;
  min-height: 360px;
  border-radius: 5px;
  padding: 2em 8%;
}
