// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-recipe-show {
	width: 600px;
}

.time-recieps {
	float: right;
  margin-right: 20px;
}

.count-portion {
	float: right;
  margin-right: 20px;
}

.rec-name {
	display: inline-block;
}

.rec-info {
	float: right;
	display: inline-block;
}

.recipe {
	margin: 20px;
}

.form {
	padding: 20px;
}

.text-area-description {
	min-height: 120px;
}